$fontText: Roboto, normal;
$colorTextDark: #333333;
$colorTextLight: #FEFEFE;
$colorButtonMenu: #F2F2F2;
$colorTextP:#4F4F4F;;
$colorButton:#4BD8B5;
$colorBackgroundHowitWork:#F2F2F2;
$colorButtonSwitch:#FFFFFF;