<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../dist/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&amp;family=Roboto:wght@100;300;400;500&amp;display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Online Zoo</h1>
        <div class="container_max">
            <div class="logo">
                <div>zoo</div>
                <div>online</div>
            </div>
            <!--*/-->
            <nav class="menu">
                <ul>
                    <li class="active"><a href="#">About</a></li>
                    <li><a href="#">Zoos</a></li>
                    <li><a href="#">Map</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Design</a></li>
                </ul>
            </nav>
            <div class="button_theme">
                <div>

                </div>
            </div>
        </div>
    </header>
    <section class="first_screen">
        <div class="container_max">
            <h2>Watch your favorite animal online</h2>
            <button onclick="window.location.href = 'https://w3docs.com';" class="button">
                <!--<img src="../../favicon/button.png" alt="icon"> -->
                <div class="icon_play"></div>
                <span>watch online</span>
            </button>
            <div class="icon">
                <div><a href="https://www.instagram.com/"><img src="../../favicon/social_net/icon_in.svg" alt="icon instagram"></a></div>
                <div><a href="https://twitter.com/"><img src="../../favicon/social_net/icon_tw.svg" alt="icon twitter"></a></div>
                <div><a href="https://www.youtube.com/"><img src="../../favicon/social_net/icon_video.svg" alt="icon"></a></div>
                <div><a href="https://vk.com"><img src="../../favicon/social_net/icon_vk.svg" alt="icon"></a></div>
            </div>
        </div>
    </section>
    <section class="slide_how_it_work">
        <div class="content__slide_how_it_work">
            <h3 class="title_style">How it work</h3>
            <p>As a voice for wildlife, we are devastated by the impact of the 2020 Australian bushfires on precious species and their habitat, and we are determined to assist in all aspects, including providing veterinary support and raising much-needed emergency funds. Zoo Online saves wildlife and inspires everyone to make conservation a priority in their lives. Animals have the right to a pain-free and happy life. They have equal claim to the resources of this planet, and deserve a life of dignity and compassion.As a voice for wildlife, we are devastated by the impact of the 2020 Australian bushfires on precious species and their habitat.</p>
            <img src="../../img/Rectangle36.png" alt="image animal">
        </div>
        <div class="cellar__slide_how_it_work">
            <div class="container_min">
                <div class="cellar__slide_how_it_work_iteam">
                    <div class="icon_slide_how_it_work">
                        <img src="../../favicon/problem.svg" alt="icon"></div>
                    <h4>What inspires us?</h4>
                    <p>As a voice for wildlife, we are devastated by the impact of the 2020 Australian bushfires on precious species and their habitat, and we are determined to assist in all aspects.</p>
                </div>
                <div class="cellar__slide_how_it_work_iteam">
                    <div class="icon_slide_how_it_work">
                        <img src="../../favicon/mission.svg" alt="icon">
                    </div>
                    <h4>Our mission</h4>
                    <p>Zoo Online saves wildlife and inspires everyone to make conservation a priority in their lives. </p>
                </div>
                <div class="cellar__slide_how_it_work_iteam ">
                    <div class="icon_slide_how_it_work">
                        <img src="../../favicon/love.svg" alt="icon">
                    </div>
                    <h4>What we believe in?</h4>
                    <p>Animals have the right to a pain-free and happy life. They have equal claim to the resources of this planet, and deserve a life of dignity and compassion.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="pets_in_zoo container_min">
        <h3 class="title_style">Pets in Zoo</h3>
        <div class="slider_pets_in_zoo">
            <img class="arrow arrow_left" src="../../favicon/left-arrow.svg" alt="left arrow">
            <div>
                <img src="../../img/large.png" alt="panda">
            </div>
            <div>
                <img src="../../img/Rectangle10.png" alt="eagle">
            </div>
            <div>
                <img src="../../img/Rectangle11.png" alt="gorilla">
            </div>
            <div>
                <img src="../../img/Rectangle12.png" alt="crocodile">
            </div>
           <img class="arrow arrow_right" src="../../favicon/right-arrow.svg" alt="right arrow">
        </div>
        <div>
            <button onclick="window.location.href = 'https://w3docs.com';" class="button">
                <span>Choose your favorite</span>
            </button>
        </div>

    </section>
    <section class="slide_pay_and_feed ">
        <div class="container_min">
            <h3 class="title_style">Pay and feed</h3>
            <p class="text">The opportunity to easily and naturally (but as often as possible) donate to the needs of animals that you like.</p>
            <div class="schema_pay_and_feed">
                <div class="schema_pay_and_feed__iteam iteam_1">
                    <p><img class="iteam_img_1 iteam_img"  src="../../favicon/card.svg" alt="icon"></p>
                    <p class="iteam_p_1 iteam_p">You pay with a VISA card</p>
                </div>
                <div class="arrows">
                    <img src="../../favicon/Arrow 2.svg" alt="arrow">
                </div>
                <div class="schema_pay_and_feed__iteam">
                    <p><img class="iteam_img_2 iteam_img"  src="../../favicon/zoo.svg" alt="icon"></p>
                    <p class="iteam_p_2 iteam_p">Payment goes to the Zoo</p>
                </div>
                <div class="arrows">
                    <img src="../../favicon/Arrow 2.svg" alt="arrow">
                </div>
                <div class="schema_pay_and_feed__iteam">
                    <p><img class="iteam_img_2 iteam_img"  src="../../favicon/panda.svg" alt="icon"></p>
                    <p class="iteam_p_3 iteam_p">Panda gets the bamboo</p>
                </div>
            </div>
            <div class="button_slide_pay_and_feed">
                <button  onclick="window.location.href = 'https://w3docs.com';" class="button">
                    <span>donate</span>
                </button>
            </div>
        </div>
    </section>
    <section class="slider_testimonials">
        <div class="container_min">
            <h3 class="title_style">Testimonials</h3>
            <div class="testimonials">
                <img class="arrow arrow_left" src="../../favicon/left-arrow-black.svg" alt="left arrow">
                <div class="testimonials_iteam iteam_1">
                    <div>
                        <img src="../../favicon/user1.svg" alt="avatar">
                    </div>
                    <div>
                        <span>Nastya Sidorova</span>
                    </div>
                    <div>
                        <p>As a voice for wildlife, we are devastated by the impact of the 2020 Australian bushfires on precious species and their habitat.</p>
                    </div>
                </div>
                <div class="testimonials_iteam">
                    <div>
                        <img src="../../img/user2.png" alt="avatar">
                    </div>
                    <div>
                        <span>Vlad Kim</span>
                    </div>
                    <div>
                        <p>As a voice for wildlife, we are devastated by the impact of the 2020 Australian bushfires on precious species and their habitat.</p>
                    </div>
                </div>
                <img class="arrow arrow_right" src="../../favicon/right-arrow.svg" alt="right arrow">
            </div>
            <div>
                <button  onclick="window.location.href = 'https://w3docs.com';" class="button">
                    <span>Leave feedback</span>
                </button>
            </div>
        </div>
    </section>
    <section class="slider_map">
        <div class="container_min slider_map__iteam">
            <h3 class="title_style">Map</h3>
            <div>
                <img src="../../img/map.png" alt="map">
                <img class="placeholder placeholder_panda" src="../../img/placeholder_panda.png" alt="panda">
                <img class="placeholder placeholder_aligator" src="../../img/placeholder_aligator.png" alt="aligator">
                <img class="placeholder placeholder_eagle" src="../../img/placeholder_eagle.png" alt="eagle">
                <img class="placeholder placeholder_gorilla" src="../../img/placeholder_gorilla.png" alt="gorilla">
            </div>
            <div>
                <button  onclick="window.location.href = 'https://w3docs.com';" class="button">
                    <span>Watch Online</span>
                </button>
            </div>
        </div>
    </section>
    <footer>
        <div class="container_max">
            <div class="logo">
                <div>zoo</div>
                <div>online</div>
            </div>
            <!--*/-->
            <nav class="menu">
                <ul>
                    <li class="active"><a href="#">About</a></li>
                    <li><a href="#">Zoos</a></li>
                    <li><a href="#">Map</a></li>
                    <li><a href="#">Design</a></li>
                </ul>
            </nav>
        </div>
    </footer>
    <script src="dist/bundle.js"></script>

</body>

</html>