<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../dist/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&amp;family=Roboto:wght@100;300;400;500&amp;display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo">
            <h2>zoo</h2>
            <h3>online</h3>
        </div>
        <!--*/-->
        <div class="menu">
            <h3>About</h3>
            <h3>Zoos</h3>
            <h3>Map</h3>
            <h3>Contact Us</h3>
            <h3>Design</h3>
        </div>
        <div class="button_theme">
            <div>

            </div>
        </div>
    </header>
    <div class="first_screen">
            <h2>Watch your favorite animal online</h2>
            <div class="wrapper_button">
                <div class="button">
                    <!--<img src="../../favicon/button.png" alt="icon"> -->
                    <span>watch online</span>
                </div>
            </div>
    </div>
    <div class="slide_how_it_work">
        <div class="content__slide_how_it_work">
            <h3 class="title_style">How it work</h3>
            <p>As a voice for wildlife, we are devastated by the impact of the 2020 Australian bushfires on precious species and their habitat, and we are determined to assist in all aspects, including providing veterinary support and raising much-needed emergency funds. Zoo Online saves wildlife and inspires everyone to make conservation a priority in their lives. Animals have the right to a pain-free and happy life. They have equal claim to the resources of this planet, and deserve a life of dignity and compassion.As a voice for wildlife, we are devastated by the impact of the 2020 Australian bushfires on precious species and their habitat.</p>
            <img src="../../img/Rectangle36.png" alt="image animal">
        </div>
        <div class="footer__slide_how_it_work">
            <div class="footer__slide_how_it_work_iteam">
                <p class="icon_slide_how_it_work"><img src="../../favicon/card/inspire/Group.png" alt="icon"></p>
                <h4>What inspires us?</h4>
                <p>As a voice for wildlife, we are devastated by the impact of the 2020 Australian bushfires on precious species and their habitat, and we are determined to assist in all aspects.</p>
            </div>
            <div class="footer__slide_how_it_work_iteam">
                <p class="icon_slide_how_it_work"><img src="../../favicon/card/mission/achievement1.png" alt="icon"></p>
                <h4>Our mission</h4>
                <p>Zoo Online saves wildlife and inspires everyone to make conservation a priority in their lives. </p>
            </div>
            <div class="footer__slide_how_it_work_iteam">
                <p class="icon_slide_how_it_work"><img src="../../favicon/card/believe/Group.png" alt="icon"></p>
                <h4>What we believe in?</h4>
                <p>Animals have the right to a pain-free and happy life. They have equal claim to the resources of this planet, and deserve a life of dignity and compassion.</p>
            </div>

        </div>
    </div>
    <div class="pets_in_zoo">
        <h3 class="title_style">Pets in Zoo</h3>
        <div class="slider_pets_in_zoo">
            <img src="" alt="">
            <img src="../../img/large.png" alt="panda">
            <img src="../../img/Rectangle10.png" alt="eagle">
            <img src="../../img/Rectangle11.png" alt="gorilla">
            <img src="../../img/Rectangle12.png" alt="crocodile">
            <img src="" alt="">
        </div>
        <div class="button">
            <span>Choose your favorite</span>
        </div>
    </div>
    <div class="slide_pay_and_feed">
        <h3 class="title_style">Pay and feed</h3>
        <p>The opportunity to easily and naturally (but as often as possible) donate to the needs of animals that you like.</p>
        <div class="schema_pay_and_feed">
            <div class="schema_pay_and_feed__iteam iteam_1">
                <p><img class="iteam_img_1 iteam_img"  src="../../favicon/card/Visa/Group.png" alt="icon"></p>
                <p class="iteam_p_1 iteam_p">You pay with a VISA card</p>
            </div>
            <div>
                <img src="../../favicon/Arrow 2.png" alt="arrow">
            </div>
            <div class="schema_pay_and_feed__iteam">
                <p><img class="iteam_img_2 iteam_img"  src="../../favicon/card/Zoo/zoo.png" alt="icon"></p>
                <p class="iteam_p_2 iteam_p">Payment goes to the Zoo</p>
            </div>
            <div>
                <img src="../../favicon/Arrow 2.png" alt="arrow">
            </div>
            <div class="schema_pay_and_feed__iteam">
                <p><img class="iteam_img_2 iteam_img"  src="../../favicon/card/Panda/panda.png" alt="icon"></p>
                <p class="iteam_p_3 iteam_p">Panda gets the bamboo</p>
            </div>

        </div>
    </div>
    <script src="dist/bundle.js"></script>

</body>

</html>